
@{
    ViewData["Title"] = "Distribuidora Vega";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p align="center"><img src="~/images/Vega-Supermayorista.png" alt="Distribuidora Vega" style="width:1000px;height:300px;" /></p>
<br />


<a href="https://www.vega.pe/">Página Web Oficial de Distribuidora Vega</a>

<p>Empezó con una tienda ubicada en el distrito de Comas, en la localidad de Año Nuevo.</p>
<p>Es una empresa multimarcas dedicada a la comercialización de productos de consumo masivo</p>
<p>Tiene alianzas estratégicas con principales proveedores como:</p>
<ul>
    <li>Gloria</li>
    <li>P&G</li>
    <li>Kimberly Clark</li>
    <li>Alicorp</li>
    <li>Nestle</li>
    <li>Protisa</li>
    <li>Molitalia</li>
    <li>Adm Sao</li>
    <li>Intradevco</li>
    <li>Cloros</li>
</ul>
<br />
<p>Tienen su propia marca llamada <b>Vega</b> y manejan las siguientes categorías de productos:</p>
<ul>
    <li>Aceite</li>
    <li>Arroz</li>
    <li>Azúcar</li>
    <li>Cereales</li>
    <li>Conservas de Pescado</li>
    <li>Conservas dulces</li>
    <li>Menestras</li>
    <li>Panetón</li>
    <li>Huevos</li>
    <li>entro otros</li>
</ul>
<p align="center"><img src="~/images/nuestras-marcas-vega.webp" alt="Categorias Vega" /></p>

<h4 align="center">Conoce un poco más de ellos:</h4>
<p align="center"><iframe width="560" height="315" src="https://www.youtube.com/embed/M2g3cufhrLA" title="" frameBorder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowFullScreen><br>Powered by <a href="https://youtubeembedcode.com">embed youtube video</a> and <a href="https://blekning.se/">tandblekning hemma bäst i test</a></iframe></p>