@{
    ViewData["Title"] = "G.W Yichang & Cía";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 align="center">G.W Yichang & Cía S.A.</h1>
<br />
<a href="https://www.yichang.com.pe/">Página Web Oficial de G.W Yichang & Cía S.A.</a>
<img src="~/images/Yichang.png" alt="G.W Yichang & Cía S.A." style="width:1300px;height:500px;" align="center"/><br/>

<p>Creada en 1929, bajo la dirección de Don Guillermo W. Yichang</p>
<p>Dedicada principalmente a la comercialización de marcas líderes en el Perú.</p>

<h3>Clientes</h3>
<ul>
    <li>Phillips</li>
    <li>Ticino</li>
    <li>Stanley Tools</li>
    <li>Gillette</li>
    <li>Colgate</li>
    <li>Palmolive</li>
</ul>
<h4 align="center">Conoce un poco más de ellos:</h4>
<p align="center"><iframe width="560" height="315" src="https://www.youtube.com/embed/hlCXqzzZaLM" title="" frameBorder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowFullScreen><br>Powered by <a href="https://youtubeembedcode.com">embed youtube video</a> and <a href="https://blekning.se/">tandblekning hemma bäst i test</a></iframe></p>

