
@{
    ViewData["Title"] = "Química Suiza";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p align="center"><img src="~/images/logo_quimica_suiza.jpg" alt="Logo Quimica Suiza" style="width:1200px;height:200px;" /></p>
<br />


<a href="https://web.quimicasuiza.com/">Página Web Oficial de Quimica Suiza</a>
<p>
    Fundada el 6 de Marzo de 1939, con la representación de Ovaltine, productos farmaceúticos
    de Wander y colorantes Durand Huguening de Suiza. Un año después asumió la representación
    de Roche
</p>
<p>
    Distribuidora multimarcas dedicada a distribuir productos y servicios al sector de comsumo
    masivo y cuidado personal.
</p>
<p>Dedicada principalmente a la comercialización de marcas líderes en el Perú.</p>

<h4>Tipo de clientes</h4>
<p>Se dirige a:</p>
<ul>
    <li>Farmacias</li>
    <li>Clínicas</li>
    <li>Bodegas</li>
    <li>Puestos de mercado</li>
    <li>Supermercados</li>
    <li>Tiendas de abarrotes</li>
    <li>Almacenes</li>
    <li>Salones de belleza</li>
    <li>Autoservicios</li>
</ul>
<p>Distribuye marcas como:</p>
<p align="center"><img src="~/images/Marcas_Quimica_Suiza.png" alt="Marcas Quimica Suiza" style="width:600;height:400px;" /></p>
<br />

<h4 align="center">Conoce su propósito:</h4>
<p align="center"><iframe width="560" height="315" src="https://www.youtube.com/embed/Lbn-MLPP_G8" title="" frameBorder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowFullScreen><br>Powered by <a href="https://youtubeembedcode.com">embed youtube video</a> and <a href="https://blekning.se/">tandblekning hemma bäst i test</a></iframe></p>

